MYSQL_HOST=mysql # leave unchanged, this is the hostname of the mysql container
MYSQL_NAME=studyplanner # you can change this one if you want

MYSQL_ROOT_PASSWORD=

APP_DB_USER=studyplanner_user
APP_DB_PASS=
APP_DB_NAME=studyplanner

APP_AUTH_SECRET=
