
  #timerBox {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 260px;
    display: none;
    cursor: move;
    user-select: none;
    z-index: 1000;
  }

  .circle {
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    cursor: pointer;
  }

  svg {
    transform: rotate(-90deg);
  }

  circle {
    fill: none;
    stroke-width: 10;
  }

  .bg {
    stroke: #dee2e6;
  }

  .progress {
    stroke: #dc3545; 
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear;
  }

  .toggleBtn{
    margin-bottom: 20px;
  }

  #time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: bold;
    pointer-events: none;
  }